<div class="header">
  <div class="header__section">
    <img class="header__section__item header__section__item--logo" src="../../../assets/images/logo.png"/>
    <div class="header__section__item"  [routerLink]="'/events'">
      Inscription
    </div>
    <div class="header__section__item" [routerLink]="'/schedule'">
      Mon horaire
    </div>
    <div class="header__section__item">
      Information
    </div>
    <div class="header__section__item">
      Contact
    </div>
  </div>
  <div class="header__section">
    <div class="header__section__item"  [routerLink]="'/profile'">
      Profile
    </div>
  </div>
</div>
