<div class="schedule-section">
  <div class="schedule-section__title">
    {{ title }} :
  </div>
  <div class="schedule-section__list">
    <div class="schedule-section__list__preview">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="schedule-section__list__items">
      <app-schedule-section-card class="schedule-section__list__items__item"
                                 *ngFor="let participation of participations"
                                 [participation]="participation"
                                 [canDelete]="canDelete"
                                 (onDeletion)="refreshParticipations()"></app-schedule-section-card>
    </div>
    <div class="schedule-section__list__next">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>
