@import '../../../../assets/scss/theme';

.activities-page {
  &__header {
    padding: 30px;
    background-color: $main-background-dark;
    min-height: 150px;
    border-bottom: 1px solid $main-border;

    &__title {
      margin: 5px 0;
    }

    &__address {
      font-size: 1em;
    }

    &__filters {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 1rem;

      &__filter {
        width: 300px;
        box-sizing: border-box;
        padding-right: 2rem;
      }
    }
  }

  &__activities {
    padding: 30px;
    display: flex;

    &__calendar {
      max-width: 700px;
      width: 100%;

      &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__date {
          text-align: center;
        }
      }

      &__benevolometre {
        &__title {
          margin-bottom: 10px;
          font-size: 1.2em;
        }
      }
    }

    &__infos {
      padding: 0 20px;
      flex: 1;
      &__details {
        &__title {
          margin-top: 10px;
          font-weight: 900;
        }

        &__list {
          overflow: auto;

          &__element {
            background-color: $main-background-light-dark;
            margin: 4px;
            display: flex;
            border: 3px solid $main-color;
            border-radius: 10px;

            &__time {
              padding: 4px;
              display: flex;
              flex-direction : column;
              justify-content: space-between;
              align-items: center;
              width : 100px;
              border-right: 3px solid $main-color;

              &__value {
                font-weight: bolder;
                margin : 0px;
              }

              &__hr {
                width: 60%;
                border: 1px solid black;
              }
            }

            &__staff {
              flex:1;
              padding: 5px 10px;

              &__task{
                font-weight: bolder;
                margin : 0px;
              }

              &__role {
                display:flex;
                flex-direction : row;                

                &__name {
                  margin : 0px;
                  width : 150px;
                }

                &__amount {
                  margin : 0px;
                  flex : 1;
                }
              }
            }
            &__icon {
              font-size: 50px;
              margin: auto;
              padding-right: 20px;
              color: $main-color;
            }
          }

          &__element:hover{
            background-color: $main-background-dark;
            transition: 0.3s;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1500px) {
  .activities-page__activities__calendar {
    width: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .activities-page__activities {
    flex-direction: column;
    align-items: center;

    &__calendar {
      width: 100%;
      max-width: none;
    }

    &__infos {
      width: 100%;
      padding: 60px 0;

      &__explanation {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .activities-page__activities__infos__details__list__element {
  
    &__time {
      width : 65px;

      &__value {
        font-size : 16px;
      }
    }

    &__staff {
      &__task{
        font-size : 18px;
      }

      &__role {
        &__name {
          font-size: 14px;
          width : 90px;
        }

        &__amount {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .activities-page__activities__infos__details__list__element__staff{
    &__role {
      flex-direction : column;
      &__amount {
        margin-top: -4px;
      }
    }

    &__name {
      width : 90px;
    }
  }

  .activities-page__activities__infos__details__list__element__icon {
    font-size: 30px;
  }
}

