.page-homepage {
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;

  &__list {
    width: 300px;
  }

  &__content {
    position: relative;
    flex: 1;
    justify-content: center;

    &__title {
      position: absolute;
      right: 0;
      z-index: 10;
      background-color: white;
      padding: 10px;
      margin: 30px;
      border-radius: 5px;
    }

    &__map {
      height: 100%;
      z-index: 1;
    }
  }
}
