<div class="page-homepage">
  <!--app-my-table [settings]="settings"
                [data]="cells"
                (selectItem)="selectUser($event)"
                class="page-homepage__list">
  </app-my-table-->
  <div class = "page-homepage__list">
    <div class = "page-homepage__list__element">
      <div class = "page-homepage__list__element__info">
        <h4>Montreal</h4>
        <ul style="list-style-type: none;">
          <li>420 Eleanor</li>
          <li>loc. 641</li>
          <li>H3C 2C2</li>
        </ul>
      </div>
      <i _ngcontent-c5="" class="fas fa-arrow-circle-right"></i>
    </div>
    <div class = "page-homepage__list__element">
      <div class = "page-homepage__list__element__info">
        <h4>Laval</h4>
        <ul style="list-style-type: none;">
          <li>420 Eleanor</li>
          <li>loc. 641</li>
          <li>H3C 2C2</li>
        </ul>
      </div>
      <i _ngcontent-c5="" class="fas fa-arrow-circle-right"></i>
    </div>
  </div>

  <div class="page-homepage__content">
    <h1 class="page-homepage__content__title title title--main">
      Dans quelle ville souhaites-tu faire du bénévolat?
    </h1>
    <div *ngIf="options"
         leaflet
         [leafletOptions]="options"
         class="page-homepage__content__map">
    </div>
  </div>
</div>
